{% extends 'AdminBundle::admin.html.twig' %}

{% block body %}
    {{ form(form) }}
{% endblock %}


{% block header %}
    <a href="{{ path('admin_rule_list') }}">Правила</a>
    &mdash;
    <small class="text-muted">#{{ rule.id }}</small> {{ rule.type }}
    <small>Редактирование</small>
{% endblock %}

{% block title %}
    Редактирование правила #{{ rule.id }} типа {{ rule.type }}
{% endblock %}

