{% extends 'NemesisAdminBundle::admin.html.twig' %}

{% block title %}{{ "switchable_themes.edit" | trans | capitalize }} :: {{ parent() }}{% endblock %}

{% block header %}
    <a href="{{ path('switchable_theme_instance_list') }}">{{ "switchable_themes.list" | trans | capitalize }}</a> &mdash;
    {{ "switchable_themes.edit" | trans | capitalize }}
    <small>
        {{ skin_registry.get(instance.theme).type }}
    </small>
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
