{% extends 'NemesisAdminBundle::admin.html.twig' %}

{% block title %}
    {#{{ field.name }} :: Поля#}
{% endblock %}

{% block header %}
    <a href="{{ path('storable_forms_field_list') }}">Поля</a> &mdash; {{ field.getName() }}
    <small>{{ class | abbr_class }}</small>
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
