{% extends 'NemesisAdminBundle::admin.html.twig' %}

{% block title %}Поля :: {{ parent() }}{% endblock %}

{% block header %}
    Поля
    <small>
        <a href="{{ path('storable_forms_field_list_types') }}"><i class="fa fa-plus"></i> Создать</a>
    </small>
{% endblock %}

{% block body %}
    <table class="table table-responsive table-bordered table-striped">
        {% for field in fields %}
            <tr>
                <td>#{{ field.id }}</td>
                <td>
                    <a href="{{ path('storable_forms_field_edit',{'field':field.id}) }}">
                        {{ field.name }}
                    </a>
                </td>
                <td>
                    {{ field.title }}
                </td>
                <td>{{ field.type }}</td>
                <td><a href="{{ path('storable_forms_field_delete',{'field':field.id}) }}"><i
                                class="fa fa-trash-o text-danger"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
