{% extends 'NemesisAdminBundle::admin.html.twig' %}

{% block title %}Команды с тегом "{{ tag.name }}" :: {{ parent() }}{% endblock %}

{% block header %}
    <a href="{{ path('site_admin_utils_tag_list') }}">Теги</a> &mdash;
    Команды с тегом &laquo;<a href="{{ path('tag_edit', {'tag': tag.id}) }}">{{ tag.name }}</a>&raquo;
{% endblock %}

{% block body %}
    <div class="list-group">
        {% for team in teams %}
            <div class="list-group-item">
                {% if team.season in site_manager.site.seasons %}
                    <a href="{{ path('site_admin_team_edit', {'id': team.id}) }}">
                        {{ team.name }} [{{ team.season.shortName }} &mdash; {{ team.season.site.shortName }}]
                    </a>
                    <a class="text-danger"
                       href="{{ path('admin_remove_tag_from_team', {'team':team.id,'tag':tag.id}) }}">
                        <i class="fa fa-times"></i>
                    </a>
                {% else %}
                    <span class="text-muted" title="Принадлежит к другому проекту">
                        {{ team.name }} [{{ team.season.shortName }} &mdash; {{ team.season.site.shortName }}]
                    </span>
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endblock %}

