{% extends 'NemesisAdminBundle::admin.html.twig' %}

{% block header %}
    {{ site.fullName }}
    <small>
        <a href="{{ path('site_admin_site_delete',{'site':site}) }}">
            <i class="fa fa-trash-o"></i>
        </a>
    </small>
{% endblock %}

{% block title %}{{ site.fullName }} :: {{ parent() }}{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
