{% extends 'NemesisCoreBundle::email.html.twig' %}

{% block title %}
    Восстановление пароля &mdash; {{ parent() }}
{% endblock %}

{% block greetings %}
    Здравствуйте, {{ user.getFormattedName('%f %m') }}!
{% endblock %}

{% block body %}
    <p>Кто-то, скорей всего вы, запросил восстановление пароля на проекте {{ site_manager.site.name }}.</p>
    <p>Если вы не запрашивали восстановление пароля через форму, то просто проигнорируйте это письмо.</p>
    <p>Для восстановления пароля перейдите по ссылке, указанной ниже</p>
    <p>В случае возникновения дальнейших проблем с доступом к аккаунту напишите на почту проекта &mdash; <a
                href="mailto:{{ site_manager.site.email }}">{{ site_manager.site.email }}</a></p>
{% endblock %}

{% block subbody %}
    <table class="row callout">
        <tr>
            <td class="wrapper last">

                <table class="twelve columns">
                    <tr>
                        <td class="panel">
                            <p>Для изменения пароля, пожалуйста, пройдите по данной ссылке <a
                                        href="{{ url }}">{{ url }}</a></p>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
{% endblock %}
