{% extends theme.layout('wide') %}

{% block title %}Новости :: {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="page-header">Новости</h1>

    {% for newsEntry in news if newsEntry.visible %}
        {#{% if loop.index0 % 3 == 0 %}#}
        {#<div class="row">#}
        {#{% endif %}#}
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="thumbnail" itemscope itemtype="http://schema.org/NewsArticle">
                <img src="{{ newsEntry.imageLink ?: 'http://placehold.it/800x600' }}" class="img-responsive">

                <div class="caption">
                    <h4 itemprop="name">
                        <a class="pull-right" itemprop="url"
                           href='{{ path('site_news_show',{'id':newsEntry.getId}) }}'>
                            {{ newsEntry.getTitle }}
                        </a>
                    </h4>

                    <p>
                        <time itemprop="datePublished"
                              datetime="{{ newsEntry.getDate | date('Y-m-d\\TH:i:sO') }}">
                            {{ newsEntry.getDate | localizeddate('medium', 'none', app.request.locale ) }}
                        </time>
                        <a class="pull-right" itemprop="url"
                           href='{{ path('site_news_show',{'id':newsEntry.getId}) }}'>
                            <i class="fa fa-external-link-square"></i> Подробней
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="clearfix visible-xs visible-sm"></div>

        {% if loop.index0 % 2 == 1 %}
            <div class="clearfix visible-md"></div>
        {% endif %}

        {% if loop.index0 % 3 == 2 %}
            <div class="clearfix visible-lg"></div>
        {% endif %}
    {% endfor %}


    {# display navigation #}
    <div class="text-center">
        <div class="navigation center-block">
            {{ knp_pagination_render(news) }}
        </div>
    </div>
{% endblock %}
